<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.skidney.mapper.SKV2LMapper" >
  <resultMap id="BaseResultMap" type="com.cj.core.v2entity.V2Location" >
    <id column="location_id" property="locationId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="altitude" property="altitude" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    location_id, user_id, longitude, latitude, altitude, create_time
  </sql>
  <!--根据用户id分页查询-->
  <select id="findByUserIdPage" parameterType="com.cj.core.domain.Pager" resultMap="BaseResultMap">
    SELECT *
    FROM v2_location
    WHERE user_id = #{parameters.userId}
    <if test="parameters.minTime != null">
      AND create_time >= #{parameters.minTime}
    </if>
    <if test="parameters.maxTime != null">
      AND create_time &lt;= #{parameters.maxTime}
    </if>
    ORDER BY create_time DESC
  </select>
  <!--根据用户id查询-->
  <select id="findByUserId" parameterType="map" resultMap="BaseResultMap">
    SELECT *
    FROM v2_location
    WHERE user_id = #{userId}
    <if test="minTime != null">
      AND create_time >= #{minTime}
    </if>
    <if test="maxTime != null">
      AND create_time &lt;= #{maxTime}
    </if>
    ORDER BY create_time DESC
  </select>
</mapper>