<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.skidney.mapper.UrineResultMapper" >
  <resultMap id="BaseResultMap" type="com.cj.core.entity.UrineResult" >
    <id column="urine_result_id" property="urineResultId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="bluetooth_mac" property="bluetoothMac" jdbcType="VARCHAR" />
    <result column="result_acr" property="resultAcr" jdbcType="VARCHAR" />
    <result column="result_leu" property="resultLeu" jdbcType="VARCHAR" />
    <result column="result_nit" property="resultNit" jdbcType="VARCHAR" />
    <result column="result_ubg" property="resultUbg" jdbcType="VARCHAR" />
    <result column="result_pro" property="resultPro" jdbcType="VARCHAR" />
    <result column="result_ph" property="resultPh" jdbcType="VARCHAR" />
    <result column="result_bld" property="resultBld" jdbcType="VARCHAR" />
    <result column="result_sg" property="resultSg" jdbcType="VARCHAR" />
    <result column="result_ket" property="resultKet" jdbcType="VARCHAR" />
    <result column="result_bil" property="resultBil" jdbcType="VARCHAR" />
    <result column="result_glu" property="resultGlu" jdbcType="VARCHAR" />
    <result column="result_vc" property="resultVc" jdbcType="VARCHAR" />
    <result column="result_ma" property="resultMa" jdbcType="VARCHAR" />
    <result column="result_cre" property="resultCre" jdbcType="VARCHAR" />
    <result column="result_ca" property="resultCa" jdbcType="VARCHAR" />
    <result column="inspect_time" property="inspectTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    urine_result_id, user_id, bluetooth_mac, result_acr, result_leu, result_nit, result_ubg,
    result_pro, result_ph, result_bld, result_sg, result_ket, result_bil, result_glu,
    result_vc, result_ma, result_cre, result_ca, inspect_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from urine_result
    where urine_result_id = #{urineResultId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from urine_result
    where urine_result_id = #{urineResultId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cj.core.entity.UrineResult" >
    insert into urine_result (urine_result_id, user_id, bluetooth_mac,
    result_acr, result_leu, result_nit,
    result_ubg, result_pro, result_ph,
    result_bld, result_sg, result_ket,
    result_bil, result_glu, result_vc,
    result_ma, result_cre, result_ca,
    inspect_time)
    values (#{urineResultId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{bluetoothMac,jdbcType=VARCHAR},
    #{resultAcr,jdbcType=VARCHAR}, #{resultLeu,jdbcType=VARCHAR}, #{resultNit,jdbcType=VARCHAR},
    #{resultUbg,jdbcType=VARCHAR}, #{resultPro,jdbcType=VARCHAR}, #{resultPh,jdbcType=VARCHAR},
    #{resultBld,jdbcType=VARCHAR}, #{resultSg,jdbcType=VARCHAR}, #{resultKet,jdbcType=VARCHAR},
    #{resultBil,jdbcType=VARCHAR}, #{resultGlu,jdbcType=VARCHAR}, #{resultVc,jdbcType=VARCHAR},
    #{resultMa,jdbcType=VARCHAR}, #{resultCre,jdbcType=VARCHAR}, #{resultCa,jdbcType=VARCHAR},
    #{inspectTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cj.core.entity.UrineResult" keyProperty="urineResultId" useGeneratedKeys="true" >
    insert into urine_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="urineResultId != null" >
        urine_result_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="bluetoothMac != null" >
        bluetooth_mac,
      </if>
      <if test="resultAcr != null" >
        result_acr,
      </if>
      <if test="resultLeu != null" >
        result_leu,
      </if>
      <if test="resultNit != null" >
        result_nit,
      </if>
      <if test="resultUbg != null" >
        result_ubg,
      </if>
      <if test="resultPro != null" >
        result_pro,
      </if>
      <if test="resultPh != null" >
        result_ph,
      </if>
      <if test="resultBld != null" >
        result_bld,
      </if>
      <if test="resultSg != null" >
        result_sg,
      </if>
      <if test="resultKet != null" >
        result_ket,
      </if>
      <if test="resultBil != null" >
        result_bil,
      </if>
      <if test="resultGlu != null" >
        result_glu,
      </if>
      <if test="resultVc != null" >
        result_vc,
      </if>
      <if test="resultMa != null" >
        result_ma,
      </if>
      <if test="resultCre != null" >
        result_cre,
      </if>
      <if test="resultCa != null" >
        result_ca,
      </if>
      <if test="inspectTime != null" >
        inspect_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="urineResultId != null" >
        #{urineResultId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="bluetoothMac != null" >
        #{bluetoothMac,jdbcType=VARCHAR},
      </if>
      <if test="resultAcr != null" >
        #{resultAcr,jdbcType=VARCHAR},
      </if>
      <if test="resultLeu != null" >
        #{resultLeu,jdbcType=VARCHAR},
      </if>
      <if test="resultNit != null" >
        #{resultNit,jdbcType=VARCHAR},
      </if>
      <if test="resultUbg != null" >
        #{resultUbg,jdbcType=VARCHAR},
      </if>
      <if test="resultPro != null" >
        #{resultPro,jdbcType=VARCHAR},
      </if>
      <if test="resultPh != null" >
        #{resultPh,jdbcType=VARCHAR},
      </if>
      <if test="resultBld != null" >
        #{resultBld,jdbcType=VARCHAR},
      </if>
      <if test="resultSg != null" >
        #{resultSg,jdbcType=VARCHAR},
      </if>
      <if test="resultKet != null" >
        #{resultKet,jdbcType=VARCHAR},
      </if>
      <if test="resultBil != null" >
        #{resultBil,jdbcType=VARCHAR},
      </if>
      <if test="resultGlu != null" >
        #{resultGlu,jdbcType=VARCHAR},
      </if>
      <if test="resultVc != null" >
        #{resultVc,jdbcType=VARCHAR},
      </if>
      <if test="resultMa != null" >
        #{resultMa,jdbcType=VARCHAR},
      </if>
      <if test="resultCre != null" >
        #{resultCre,jdbcType=VARCHAR},
      </if>
      <if test="resultCa != null" >
        #{resultCa,jdbcType=VARCHAR},
      </if>
      <if test="inspectTime != null" >
        #{inspectTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.core.entity.UrineResult" >
    update urine_result
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="bluetoothMac != null" >
        bluetooth_mac = #{bluetoothMac,jdbcType=VARCHAR},
      </if>
      <if test="resultAcr != null" >
        result_acr = #{resultAcr,jdbcType=VARCHAR},
      </if>
      <if test="resultLeu != null" >
        result_leu = #{resultLeu,jdbcType=VARCHAR},
      </if>
      <if test="resultNit != null" >
        result_nit = #{resultNit,jdbcType=VARCHAR},
      </if>
      <if test="resultUbg != null" >
        result_ubg = #{resultUbg,jdbcType=VARCHAR},
      </if>
      <if test="resultPro != null" >
        result_pro = #{resultPro,jdbcType=VARCHAR},
      </if>
      <if test="resultPh != null" >
        result_ph = #{resultPh,jdbcType=VARCHAR},
      </if>
      <if test="resultBld != null" >
        result_bld = #{resultBld,jdbcType=VARCHAR},
      </if>
      <if test="resultSg != null" >
        result_sg = #{resultSg,jdbcType=VARCHAR},
      </if>
      <if test="resultKet != null" >
        result_ket = #{resultKet,jdbcType=VARCHAR},
      </if>
      <if test="resultBil != null" >
        result_bil = #{resultBil,jdbcType=VARCHAR},
      </if>
      <if test="resultGlu != null" >
        result_glu = #{resultGlu,jdbcType=VARCHAR},
      </if>
      <if test="resultVc != null" >
        result_vc = #{resultVc,jdbcType=VARCHAR},
      </if>
      <if test="resultMa != null" >
        result_ma = #{resultMa,jdbcType=VARCHAR},
      </if>
      <if test="resultCre != null" >
        result_cre = #{resultCre,jdbcType=VARCHAR},
      </if>
      <if test="resultCa != null" >
        result_ca = #{resultCa,jdbcType=VARCHAR},
      </if>
      <if test="inspectTime != null" >
        inspect_time = #{inspectTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where urine_result_id = #{urineResultId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cj.core.entity.UrineResult" >
    update urine_result
    set user_id = #{userId,jdbcType=BIGINT},
    bluetooth_mac = #{bluetoothMac,jdbcType=VARCHAR},
    result_acr = #{resultAcr,jdbcType=VARCHAR},
    result_leu = #{resultLeu,jdbcType=VARCHAR},
    result_nit = #{resultNit,jdbcType=VARCHAR},
    result_ubg = #{resultUbg,jdbcType=VARCHAR},
    result_pro = #{resultPro,jdbcType=VARCHAR},
    result_ph = #{resultPh,jdbcType=VARCHAR},
    result_bld = #{resultBld,jdbcType=VARCHAR},
    result_sg = #{resultSg,jdbcType=VARCHAR},
    result_ket = #{resultKet,jdbcType=VARCHAR},
    result_bil = #{resultBil,jdbcType=VARCHAR},
    result_glu = #{resultGlu,jdbcType=VARCHAR},
    result_vc = #{resultVc,jdbcType=VARCHAR},
    result_ma = #{resultMa,jdbcType=VARCHAR},
    result_cre = #{resultCre,jdbcType=VARCHAR},
    result_ca = #{resultCa,jdbcType=VARCHAR},
    inspect_time = #{inspectTime,jdbcType=TIMESTAMP}
    where urine_result_id = #{urineResultId,jdbcType=BIGINT}
  </update>
<!--尿检实体类-->
  <resultMap id="UriModel" type = "com.cj.skidney.domain.UrineModel" >
    <id column="urine_result_id" property="urineResultId" jdbcType="BIGINT" />
    <association property="urineIdentification" javaType="com.cj.core.entity.UrineIdentification">
      <id column="urine_identification_id" property="urineIdentificationId" jdbcType="BIGINT" />
      <result column="urine_result_id" property="urineResultId" jdbcType="BIGINT" />
      <result column="identification_acr" property="identificationAcr" jdbcType="VARCHAR" />
      <result column="identification_leu" property="identificationLeu" jdbcType="VARCHAR" />
      <result column="identification_nit" property="identificationNit" jdbcType="VARCHAR" />
      <result column="identification_ubg" property="identificationUbg" jdbcType="VARCHAR" />
      <result column="identification_pro" property="identificationPro" jdbcType="VARCHAR" />
      <result column="identification_ph" property="identificationPh" jdbcType="VARCHAR" />
      <result column="identification_bld" property="identificationBld" jdbcType="VARCHAR" />
      <result column="identification_sg" property="identificationSg" jdbcType="VARCHAR" />
      <result column="identification_ket" property="identificationKet" jdbcType="VARCHAR" />
      <result column="identification_bil" property="identificationBil" jdbcType="VARCHAR" />
      <result column="identification_glu" property="identificationGlu" jdbcType="VARCHAR" />
      <result column="identification_vc" property="identificationVc" jdbcType="VARCHAR" />
      <result column="identification_ma" property="identificationMa" jdbcType="VARCHAR" />
      <result column="identification_cre" property="identificationCre" jdbcType="VARCHAR" />
      <result column="identification_ca" property="identificationCa" jdbcType="VARCHAR" />
    </association>
    <association property="urineResultVO" javaType="com.cj.skidney.domain.UrineResultVO">
      <id column="urine_result_id" property="urineResultId" jdbcType="BIGINT" />
      <result column="user_id" property="userId" jdbcType="BIGINT" />
      <result column="bluetooth_mac" property="bluetoothMac" jdbcType="VARCHAR" />
      <result column="result_acr" property="resultAcr" jdbcType="VARCHAR" />
      <result column="result_leu" property="resultLeu" jdbcType="VARCHAR" />
      <result column="result_nit" property="resultNit" jdbcType="VARCHAR" />
      <result column="result_ubg" property="resultUbg" jdbcType="VARCHAR" />
      <result column="result_pro" property="resultPro" jdbcType="VARCHAR" />
      <result column="result_ph" property="resultPh" jdbcType="VARCHAR" />
      <result column="result_bld" property="resultBld" jdbcType="VARCHAR" />
      <result column="result_sg" property="resultSg" jdbcType="VARCHAR" />
      <result column="result_ket" property="resultKet" jdbcType="VARCHAR" />
      <result column="result_bil" property="resultBil" jdbcType="VARCHAR" />
      <result column="result_glu" property="resultGlu" jdbcType="VARCHAR" />
      <result column="result_vc" property="resultVc" jdbcType="VARCHAR" />
      <result column="result_ma" property="resultMa" jdbcType="VARCHAR" />
      <result column="result_cre" property="resultCre" jdbcType="VARCHAR" />
      <result column="result_ca" property="resultCa" jdbcType="VARCHAR" />
      <result column="inspect_time" property="inspectTime" jdbcType="TIMESTAMP" />
    </association>
    <association property="urineAbnormal" javaType="com.cj.core.entity.UrineAbnormal">
      <id column="urine_abnormal_id" property="urineAbnormalId" jdbcType="BIGINT" />
      <result column="urine_result_id" property="urineResultId" jdbcType="BIGINT" />
      <result column="abnormal_acr" property="abnormalAcr" jdbcType="INTEGER" />
      <result column="abnormal_leu" property="abnormalLeu" jdbcType="INTEGER" />
      <result column="abnormal_nit" property="abnormalNit" jdbcType="INTEGER" />
      <result column="abnormal_ubg" property="abnormalUbg" jdbcType="INTEGER" />
      <result column="abnormal_pro" property="abnormalPro" jdbcType="INTEGER" />
      <result column="abnormal_ph" property="abnormalPh" jdbcType="INTEGER" />
      <result column="abnormal_bld" property="abnormalBld" jdbcType="INTEGER" />
      <result column="abnormal_sg" property="abnormalSg" jdbcType="INTEGER" />
      <result column="abnormal_ket" property="abnormalKet" jdbcType="INTEGER" />
      <result column="abnormal_bil" property="abnormalBil" jdbcType="INTEGER" />
      <result column="abnormal_glu" property="abnormalGlu" jdbcType="INTEGER" />
      <result column="abnormal_vc" property="abnormalVc" jdbcType="INTEGER" />
      <result column="abnormal_ma" property="abnormalMa" jdbcType="INTEGER" />
      <result column="abnormal_cre" property="abnormalCre" jdbcType="INTEGER" />
      <result column="abnormal_ca" property="abnormalCa" jdbcType="INTEGER" />
    </association>
  </resultMap>
  <!--查询条数-->
  <select id="findUreCount" resultType="java.lang.Integer" parameterType="com.cj.core.domain.OldPager">
    SELECT COUNT(1)
    FROM urine_result
    <where>
      user_id = #{parameters.userId}
      <if test="parameters.minTime != null">
        AND inspect_time >= #{parameters.minTime}
      </if>
      <if test="parameters.maxTime != null">
        AND inspect_time &lt;= #{parameters.maxTime}
      </if>
    </where>
  </select>
  <!--分页查讯结果-->
  <select id="findUrePage" resultMap="UriModel" parameterType="com.cj.core.domain.OldPager">
    SELECT *
    FROM urine_result ur
    LEFT JOIN urine_identification ui ON ur.urine_result_id = ui.urine_result_id
    LEFT JOIN urine_abnormal ua ON ur.urine_result_id = ua.urine_result_id
    <where>
      user_id = #{parameters.userId}
      <if test="parameters.minTime != null">
        AND inspect_time >= #{parameters.minTime}
      </if>
      <if test="parameters.maxTime != null">
        AND inspect_time &lt;= #{parameters.maxTime}
      </if>
    </where>
    ORDER BY inspect_time DESC ,ur.urine_result_id
    LIMIT #{minRow},#{pageSize}
  </select>
  <!--查讯结果-->
  <select id="findUre" resultMap="UriModel" parameterType="com.cj.core.domain.OldPager">
    SELECT *
    FROM urine_result ur
    LEFT JOIN urine_identification ui ON ur.urine_result_id = ui.urine_result_id
    LEFT JOIN urine_abnormal ua ON ur.urine_result_id = ua.urine_result_id
    <where>
      user_id = #{parameters.userId}
      <if test="parameters.minTime != null">
        AND inspect_time >= #{parameters.minTime}
      </if>
      <if test="parameters.maxTime != null">
        AND inspect_time &lt;= #{parameters.maxTime}
      </if>
    </where>
    ORDER BY inspect_time DESC ,ur.urine_result_id
  </select>
  <insert id="replaseSelective" parameterType="com.cj.skidney.domain.UrineResultVO" keyProperty="urineResultId" useGeneratedKeys="true" >
    insert into urine_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="urineResultId != null" >
        urine_result_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="bluetoothMac != null" >
        bluetooth_mac,
      </if>
      <if test="resultAcr != null" >
        result_acr,
      </if>
      <if test="resultLeu != null" >
        result_leu,
      </if>
      <if test="resultNit != null" >
        result_nit,
      </if>
      <if test="resultUbg != null" >
        result_ubg,
      </if>
      <if test="resultPro != null" >
        result_pro,
      </if>
      <if test="resultPh != null" >
        result_ph,
      </if>
      <if test="resultBld != null" >
        result_bld,
      </if>
      <if test="resultSg != null" >
        result_sg,
      </if>
      <if test="resultKet != null" >
        result_ket,
      </if>
      <if test="resultBil != null" >
        result_bil,
      </if>
      <if test="resultGlu != null" >
        result_glu,
      </if>
      <if test="resultVc != null" >
        result_vc,
      </if>
      <if test="resultMa != null" >
        result_ma,
      </if>
      <if test="resultCre != null" >
        result_cre,
      </if>
      <if test="resultCa != null" >
        result_ca,
      </if>
      <if test="inspectTime != null" >
        inspect_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="urineResultId != null" >
        #{urineResultId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="bluetoothMac != null" >
        #{bluetoothMac,jdbcType=VARCHAR},
      </if>
      <if test="resultAcr != null" >
        #{resultAcr,jdbcType=VARCHAR},
      </if>
      <if test="resultLeu != null" >
        #{resultLeu,jdbcType=VARCHAR},
      </if>
      <if test="resultNit != null" >
        #{resultNit,jdbcType=VARCHAR},
      </if>
      <if test="resultUbg != null" >
        #{resultUbg,jdbcType=VARCHAR},
      </if>
      <if test="resultPro != null" >
        #{resultPro,jdbcType=VARCHAR},
      </if>
      <if test="resultPh != null" >
        #{resultPh,jdbcType=VARCHAR},
      </if>
      <if test="resultBld != null" >
        #{resultBld,jdbcType=VARCHAR},
      </if>
      <if test="resultSg != null" >
        #{resultSg,jdbcType=VARCHAR},
      </if>
      <if test="resultKet != null" >
        #{resultKet,jdbcType=VARCHAR},
      </if>
      <if test="resultBil != null" >
        #{resultBil,jdbcType=VARCHAR},
      </if>
      <if test="resultGlu != null" >
        #{resultGlu,jdbcType=VARCHAR},
      </if>
      <if test="resultVc != null" >
        #{resultVc,jdbcType=VARCHAR},
      </if>
      <if test="resultMa != null" >
        #{resultMa,jdbcType=VARCHAR},
      </if>
      <if test="resultCre != null" >
        #{resultCre,jdbcType=VARCHAR},
      </if>
      <if test="resultCa != null" >
        #{resultCa,jdbcType=VARCHAR},
      </if>
      <if test="inspectTime != null" >
        #{inspectTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!--根据id查询尿检结果-->
  <select id="findById" resultMap="UriModel" parameterType="com.cj.core.domain.OldPager">
    SELECT *
    FROM urine_result ur
    LEFT JOIN urine_identification ui ON ur.urine_result_id = ui.urine_result_id
    LEFT JOIN urine_abnormal ua ON ur.urine_result_id = ua.urine_result_id
    WHERE ur.urine_result_id = #{parameters.id}
  </select>
</mapper>